certifi==2022.12.7
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
geojson==3.0.1
geojsoncontour==0.4.0
kiwisolver==1.4.4
laspy==2.3.0
lazrs==0.4.5
matplotlib==3.7.0
numpy==1.24.1
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pip==22.2.1
pyparsing==3.0.9
pyproj==3.4.1
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.0
setuptools==63.2.0
six==1.16.0
tqdm==4.64.1
utm==0.7.0
xarray==2023.2.0
